<%= link_to "Edit", edit_blog_post_path(@blog_post) if user_signed_in? %> 

<% if user_signed_in? %>
  <p class="p-2 rounded bg-gray-100 text-gray-500"><%= @blog_post.human_status %></p>
<% end %>
<h1><%= @blog_post.title %></h1>
<p><%= @blog_post.body %></p>